
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div class="table-responsive">
			<table id="employeeListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<!-- <th><input th:id="selectAllEmployees" type="checkbox" /></th> -->
						<th>V-ID</th>
						<th>Name</th>
						<th>Designation</th>
						<th>Branch</th>
						<th>Technology</th>
						<th>Emp Status</th>
						<th>Other Operations</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="employee : ${employeeList}">
						<!-- <td>
							<input hidden="hidden" name="id" th:value="${employee.id}" />
							<input th:id="'selected'+${employee.id}" class="checkboxEmployee" type="checkbox" />
						</td> -->
						<td th:text="${employee.id}"></td>
						<td>
							<a th:href="@{/employee/employeeInfo(id=${employee.id})}">
								<span th:text="${employee.firstName} + ' ' + ${employee.lastName}"></span>
							</a>
						</td>
						<td th:text="${employee.username}"></td>
						<td th:text="${employee.fromBranch}"></td>
						<td th:text="${employee.technology}"></td>
						<td th:text="${employee.employeeStatus}"></td>
						<td th:text="${employee.email}"></td>
						<!-- <td>
							<input hidden="hidden" name="id" th:value="${employee.id}" />
							<button th:id="'oneEmployee-'+${employee.id}" class="btn btn-danger btn-xs delete-employee" type="submit" value="delete" >
							<span class="fa fa-times"></span>&nbsp;&nbsp;Delete</button>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	<!-- <button th:id="deleteSelected" class="btn btn-danger ">Delete Selected</button> -->
	</div>
	
	
	<div th:replace="common/header :: body-bottom-scripts" />
	
	<script>
		$(document).ready(function() {
			$("#employeeListTable").DataTable({
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>
